@import "custom";

main {
  height: 85vh;
}

.goShop {
  margin-top: 30px;
}

img {
  width: 400px;
}

.productImage {
  width: 800px;
}

.productCardImg {
  width: 270px;
}

a {
  text-decoration: none;
  color: #666;
}

.productNameLink:hover {
  color: inherit;
  text-decoration: underline;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 300;
}

.price {
  color: #444;
  position: absolute;
  bottom: 30px;
}

.productCard {
  min-height: 430px;
}

.productTitle {
  color: #555;
  font-weight: 450;
}

.btn-primary:disabled {
  background-color: #adc5c5;
  border-color: #adc5c5;
}

.alert.alert-danger {
  background: rgba(255, 0, 0, 0.2);
  color: darkred;
}

.loginBtn {
  margin-top: 20px;
}

.formGroup {
  margin-top: 15px;
}
