@import "custom";

main {
  height: 85vh;
}

.goShop {
  margin-top: 30px;
}

img {
  width: 400px;
}

a {
  text-decoration: none;
  color: #666;
}

.productNameLink:hover {
  color: inherit;
  text-decoration: underline;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 300;
}

.btn-primary:disabled {
  background-color: #adc5c5;
  border-color: #adc5c5;
}

.alert.alert-danger {
  background: rgba(255, 0, 0, 0.2);
  color: darkred;
}

.loginBtn {
  margin-top: 20px;
}

.formGroup {
  margin-top: 15px;
}

.form-control {
  margin-bottom: 15px;
}

.contact-link {
  font-size: 3.5rem;
  margin-top: 5rem;
}

@media only screen and (max-width: 400px) {
  img {
    width: 340px;
  }
}

@media only screen and (max-width: 400px) {
  footer {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .main-poster {
    width: 328px;
  }
}
