@import "custom";

main {
  height: 85vh;
}

.goShop {
  margin-top: 30px;
}

img {
  width: 400px;
}

.productImage {
  width: 800px;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: inherit;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 300;
}

.price {
  color: #444;
  position: absolute;
  bottom: 30px;
}

.productCard {
  min-height: 380px;
}

.productTitle {
  color: #555;
  font-weight: 450;
}

.btn-primary:disabled {
  background-color: #adc5c5;
  border-color: #adc5c5;
}
